@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&family=Sigmar&display=swap');


.songContainer{
    
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.songContainer img{
    width: 20%;
    /* border-radius: 50%; */
}
.songContainer h2{
    padding: 3rem 1rem 0 1rem;
    font-family: 'Sigmar', cursive;
    color: rgb(14, 14, 14);
    font-weight: 500;
}
.songContainer h4{
    font-size: 1rem;
    font-family: 'Instrument Serif', serif;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(28, 27, 27);
    padding-bottom: 1rem;

}

@media screen and (max-width:768px){
    .songContainer img{
        width: 60%;
    }
    .songContainer h2{
        font-size: 18px;
        text-align: center;
    }
    .songContainer h4{
        font-size: 17px;
        text-align: center;
    }
}